:root {
    background: #000000;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

button, input{
    border: none;
    outline: none;
}

button{
    cursor: pointer;
}

img{
    max-width: 100%;
    height: auto;
}

.main{
    overflow: hidden;
}

.container{
    max-width: 1440px;
    margin-left: 80px;
    margin-right: 80px;
}


/*=============== HEADER ===============*/

.nav_container{
    display: flex;
    justify-content: space-between;
    padding: 44px 40px 44px 40px;
    position: relative;
}

.nav__menu{
    display: flex;
    align-items: center;
    gap: 80px;
}

.nav__list{
    display: flex;
    align-items: center;
    gap: 23px
}

.nav__logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav__icons{
    display: flex;
    gap: 40px;
}

header a{
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}

header{
    height: 120px;
}


/*=============== HOME ===============*/

.home__background_text{
    position: absolute;
    z-index: 1;
    left: 73px;
    top: 253px;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 128px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-blend-mode: hard-light;
}

.home__background_line{
    position: absolute;
    left: -5.5px;
    top: 105.5px;
    z-index: 0;
}

.home__nike{
    position: absolute;
    z-index: 2;
}


/*=============== INFO ===============*/

/*=============== BEST SELLERS ===============*/

/*=============== PRODUCTS ===============*/

/*=============== ADVANTAGE ===============*/

/*=============== FAVORITE ===============*/

/*=============== BEST ===============*/

/*=============== VISIONARIES ===============*/

/*=============== JOIN ===============*/

/*=============== FOOTER ===============*/